<header class="header">

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <a class="navbar-brand logo mr-5" href="#!">
            <img src="./img/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link mr-md-2" href="#!">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-md-2" href="#services">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-md-2" href="#gallery">Галерея</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-md-2" href="#!">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-md-2" href="#!">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="header__content">
        <h3 class="header__content-title">Клиника VivaMed</h3>
        <p class="header__content-text pt-3 pb-3">Мы разработали систему помощи принятия врачебных решений, которая контролирует работу всех докторов, исключая лишние назначения и анализы. А экспертный отдел следит за тем, чтобы лечение соответствовало стандартам доказательной медицины. </p>
        <a href="#!" class="btn btn-success">Оставить Заявку</a>
    </div>


</header>