<section class="section section-cards">
    <div class="container">
        <div class="row">
            <div class="card col-lg-4">
                <img src="./img/card-1.png" alt="" class="card-img-top">
                <div class="card-body d-flex justify-content-between flex-column text-center">
                    <h5 class="card-title">УЗИ</h5>
                    <p class="card-text section-text">Ультразвуковое исследование (УЗИ, сонография) - метод
                        инструментальный диагностики, использующий высокочастотные звуковые волны (ультразвук) для
                        получения изображений внутренних органов.</p>
                    <a href="#!" class="btn btn-primary">Записаться</a>
                </div>
            </div>
            <div class="card col-lg-4">
                <img src="./img/card-2.jpg" alt="" class="card-img-top">
                <div class="card-body d-flex justify-content-between flex-column text-center">
                    <h5 class="card-title">ЭЭГ</h5>
                    <p class="card-text section-text">Электроэнцефалография (ЭЭГ) – метод регистрации спонтанной
                        биоэлектрической активности головного мозга. Одновременное возбуждение или торможение
                        больших групп нейронов коры создает электрическое поле, которое возможно записывать
                        электродами, располагающимися на скальпе.</p>
                    <a href="#!" class="btn btn-primary">Записаться</a>
                </div>
            </div>
            <div class="card col-lg-4">
                <img src="./img/card-3.jpg" alt="" class="card-img-top">
                <div class="card-body d-flex justify-content-between flex-column text-center">
                    <h5 class="card-title">Физиопроцедуры</h5>
                    <p class="card-text section-text">Физиотерапия — это обширная группа методов,
                        терапевтический
                        эффект которых
                        достигается влиянием различных видов электрического тока, тепла, холода, ультразвука,
                        ультрафиолета и т. д, а также физическими упражнениями.
                    </p>
                    <a href="#!" class="btn btn-primary">Записаться</a>
                </div>
            </div>
        </div>
    </div>
</section>